{% extends "base.html" %}
{%  load static  %}
{% block content %} 






        <!-- page-title -->
        <div class="cmt-page-title-row">
            <div class="cmt-page-title-row-inner">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="page-title-heading">
                                <h2 class="title">About Us</h2>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>                    
        </div><!-- page-title end-->


    <!--site-main start-->
    <div class="site-main">


        <!--about_fid-section-->
        <section class="cmt-row about_fid-section clearfix" style="background-color: black; color: white;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-10">
                        <div class="pt-10 res-991-pt-0">
                            <!-- section title -->
                            <div class="section-title">
                                <div class="title-header">
                                    <!-- <h5>ABOUT TRANSPORT</h5> -->
                                    <h2 class="title" style="color: white;">We are here to provide you the best of everything and everytime!</h2>
                                </div>
                                <div class="heading-seperator"><span></span></div>
                            </div><!-- section title end -->
                            <p>Packing and moving isn't just a skill but an art that calls for expertise. With over few years of tasting success, we are well versed in molding such a skill in the form of an art. Packers And Movers suggested from our site ensure perfect deliverance of our services in the words of our customer and are proactive in our approach so that any issues doesn't arise, thus minimizing the upheaval of our clients.They are dedicated to do the entire processes of packing and moving in proper and convenient ways.Packers And Movers is well known for their quality and economical packing and moving services.</p>
                            <div class="row mt-20 mb-10">
                                <div class="col-lg-6 col-md-5 col-sm-6">
                                    <ul class="cmt-list cmt-list-style-icon">
                                        <li><i class="fa fa-arrow-circle-right"></i><div class="cmt-list-li-content">Engage into our services at your convenient place and time.</div></li>
                                        <li><i class="fa fa-arrow-circle-right"></i><div class="cmt-list-li-content">Learn from customer feedback provided in our site</div></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-5 col-sm-6">
                                    <ul class="cmt-list cmt-list-style-icon">
                                        <li><i class="fa fa-arrow-circle-right"></i><div class="cmt-list-li-content">Acquire bidding and posting kind of unique features</div></li>
                                        <li><i class="fa fa-arrow-circle-right"></i><div class="cmt-list-li-content">Customer support </div></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-25 mb-25">
                                <span class="cmt-horizontal_sep"></span>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="img-content pr-20">
                                    <img class="img-fluid" src="{% static 'images/s7.jpg' %}" alt="ttm_single_image-wrapper">
                                </div>
                                <!-- <div class="text-content">
                                    <h5 class="mb-0">Alex Jhon Martin</h5>
                                    <p>Aenean volutpat, sem sit amet </p>
                                </div> -->
                            </div>                   
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-7 col-sm-9 mt-0 mx-auto">
                        <!-- ttm_single_image-wrapper -->
                        <div class="ttm_single_image-wrapper res-991-pt-30 res-991-pb-30">
                            <img class="img-fluid" src="{% static 'images/quote.jpg' %}" alt="image" style="height: 900px; width: 600px;">
                        </div>
                    </div>
                </div><!-- row end -->
            </div>
            <div class="mt_60 res-991-mt-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="cmt-col-bgcolor-yes cmt-bgcolor-white cmt-bg pt-10 pr-10">
                                <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                                    <div class="cmt-col-wrapper-bg-layer-inner"></div>
                                </div>
                                <div class="layer-content cmt-bgcolor-grey">
                                    <div class="row cmt-vertical_sep">
                                        <div class="col-lg-4 col-md-6 col-sm-6 cmt-box-col-wrapper">
                                            <!-- cmt-fid -->
                                            <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon">
                                                <div class="cmt-fid-icon-wrapper cmt-textcolor-skincolor">
                                                    <i class="ti ti-medall"></i>
                                                </div>
                                                <div class="cmt-fid-contents">
                                                    <h4 class="cmt-fid-inner">
                                                        <span   data-appear-animation="animateDigits" 
                                                                data-from="0" 
                                                                data-to="143" 
                                                                data-interval="15" 
                                                                data-before="" 
                                                                data-before-style="sup" 
                                                                data-after="" 
                                                                data-after-style="sub" 
                                                                class="numinate">143
                                                        </span>
                                                        <sub>+</sub>
                                                    </h4>
                                                    <h3 class="cmt-fid-title" style="color: black;">Awards Winning</h3>
                                                </div>
                                            </div><!-- cmt-fid end -->
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6 cmt-box-col-wrapper">
                                            <!-- cmt-fid -->
                                            <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon">
                                                <div class="cmt-fid-icon-wrapper cmt-textcolor-skincolor">
                                                    <i class="flaticon-shipping-and-delivery"></i>
                                                </div>
                                                <div class="cmt-fid-contents">
                                                    <h4 class="cmt-fid-inner">
                                                        <span   data-appear-animation="animateDigits" 
                                                                data-from="0" 
                                                                data-to="780" 
                                                                data-interval="15" 
                                                                data-before="" 
                                                                data-before-style="sup" 
                                                                data-after="" 
                                                                data-after-style="sub" 
                                                                class="numinate">780
                                                        </span>
                                                        <sub>+</sub>
                                                    </h4>
                                                    <h3 class="cmt-fid-title" style="color: black;">Our happy clients</h3>
                                                </div>
                                            </div><!-- cmt-fid end -->
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6 cmt-box-col-wrapper">
                                            <!-- cmt-fid -->
                                            <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon">
                                                <div class="cmt-fid-icon-wrapper cmt-textcolor-skincolor">
                                                    <i class="flaticon-list"></i>
                                                </div>
                                                <div class="cmt-fid-contents">
                                                    <h4 class="cmt-fid-inner">
                                                        <span   data-appear-animation="animateDigits" 
                                                                data-from="0" 
                                                                data-to="675" 
                                                                data-interval="15" 
                                                                data-before="" 
                                                                data-before-style="sup" 
                                                                data-after="" 
                                                                data-after-style="sub" 
                                                                class="numinate">675
                                                        </span>
                                                        <sub>+</sub>
                                                    </h4>
                                                    <h3 class="cmt-fid-title" style="color: black;">Complete Deliveries</h3>
                                                </div>
                                            </div><!-- cmt-fid end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- row end -->
                </div>
            </div>
        </section>
        <!--about_fid-section end-->

        <!--timeline-section-->
        <section class="cmt-row timeline-section cmt-bgcolor-darkgrey cmt-bg cmt-bgimage-yes bg-img5 clearfix">
            <div class="cmt-row-wrapper-bg-layer cmt-bg-layer"></div>
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- section title -->
                        <div class="section-title title-style-center_text">
                            <div class="title-header">
                                <h5>ABOUT TRANSPORT</h5>
                                <h2 class="title">Why You Need The Top Logistic</h2>
                            </div>
                            <div class="heading-seperator"><span></span></div>
                        </div><!-- section title end -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="timeline-panel">
                            <div class="timeline-date">
                                <span class="timeline-year">2018</span>
                            </div>
                            <div class="time-line-dot">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="timeline-body">
                                <h3 class="title">Founded In Japan</h3>
                                <p>It is Formed with a focus on Rural Transportation needs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="timeline-panel">
                            <div class="timeline-date">
                                <span class="timeline-year">2015</span>
                            </div>
                            <div class="time-line-dot">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="timeline-body">
                                <h3 class="title">Founded In Japan</h3>
                                <p>we widened to Japan for the transport service.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="timeline-panel">
                            <div class="timeline-date">
                                <span class="timeline-year">2012</span>
                            </div>
                            <div class="time-line-dot">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="timeline-body">
                                <h3 class="title">Founded In Japan</h3>
                                <p>Goods, warehousing and transport services for the corporate.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="timeline-panel">
                            <div class="timeline-date">
                                <span class="timeline-year">2012</span>
                            </div>
                            <div class="time-line-dot">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="timeline-body">
                                <h3 class="title">Founded In Japan</h3>
                                <p>We further went ahead to become the largest in the logistics.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!--timeline-section end-->


        <!--procedure-section-->
       
        <!--procedure-section end-->


        <!--broken-section-->
 
        <!--broken-section end-->


        <!--statement-section-->
        <section class="cmt-row statement-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <!-- section title -->
                        <div class="section-title">
                            <div class="title-header">
                                <!-- <h5>ABOUT TRANSPORT</h5> -->
                                <h2 class="title">We are here to provide you the best of everything and everytime!</h2>
                            </div>
                            <div class="heading-seperator"><span></span></div>
                        </div><!-- section title end -->
                        <p>
                            With a bull’s eye vison our only ambition is to serve our nation folks with a GO Green Environment. Our site is an absolute blend of two words scrap & art, It goes for scrap you will sell online to keep your homeland clean and art is the technology friendly creative touch we give to erode away scrap from your home in exchange of some valuable cash which can be accessed through any devices or gadgets resourced with our mobility & web solutions.
                        </p><div class="accordion clearfix">
                            <!-- toggle -->
                            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-grey cmt-control-right-true">
                                <div class="toggle-title"><a href="#">How should I believe about your services?</a></div>
                                <div class="toggle-content">
                                    <div class="row align-items-center">
                                        <div class="col-xl-4 col-lg-5 col-md-2 col-sm-3">
                                            <div class="toggle-figure">
                                                <img class="img-fluid" src="{% static 'images/tab_img_05.jpg' %}" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-xl-8 col-lg-7 col-md-10 col-sm-9">
                                            <div class="toggle-text res-575-mt-15">
                                                <!-- <h5 class="mb-10">Paediatric dentistry</h5> -->
                                                <p class="pr-50">Because of the experienced, friendly and cooperative companies and people referred from our website you will be able to believe the quality of work promised once you render any service.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- toggle end -->
                            <!-- toggle -->
                            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-grey cmt-control-right-true">
                                <div class="toggle-title"><a href="#">How to trust on the valets you meet at your doorsteps?</a></div>
                                <div class="toggle-content">
                                    <div class="row align-items-center">
                                        <div class="col-xl-4 col-lg-5 col-md-2 col-sm-3">
                                            <div class="toggle-figure">
                                                <img class="img-fluid" src="{% static 'images/tab_img_05.jpg' %}" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-xl-8 col-lg-7 col-md-10 col-sm-9">
                                            <div class="toggle-text res-575-mt-15">
                                                <!-- <h5 class="mb-10">Paediatric dentistry</h5> -->
                                                <p class="pr-50">The professional and authenticated team will come to provide the help.Apart from this you will be given all the valet details after booking.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- toggle end -->
                            <!-- toggle -->
                            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-grey cmt-control-right-true">
                                <div class="toggle-title"><a href="#">How would you define us?</a></div>
                                <div class="toggle-content">
                                    <div class="row align-items-center">
                                        <div class="col-xl-4 col-lg-5 col-md-2 col-sm-3">
                                            <div class="toggle-figure">
                                                <img class="img-fluid" src="{% static 'images/tab_img_05.jpg' %}" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-xl-8 col-lg-7 col-md-10 col-sm-9">
                                            <div class="toggle-text res-575-mt-15">
                                                <!-- <h5 class="mb-10">Paediatric dentistry</h5> -->
                                                <p class="pr-50">It's simple by giving us the immense pleasure to help you out in every possible way and through your loving experience with us and a valuable feedback.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- toggle end -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
                        <div class="cmt-bg cmt-col-bgimage-yes col-bg-img-seven spacing-7">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                                <div class="cmt-col-wrapper-bg-layer-inner"></div>
                            </div>
                            <div class="layer-content">
                                <div class="cmt-bgcolor-white mb-25 pt-10 pl-10 pb-10 pr-10 box-shadow">
                                    <div class="ttm_single_image-wrapper">
                                        <img class="img-fluid" src="{% static 'images/scrap.jpg' %}" alt="image">
                                    </div>
                                </div>
                                <h5>Useful scrap Services.</h5>
                                <!-- <i>Alex Jhonson</i> -->
                            </div>
                        </div>
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!--statement-section end-->


    </div><!--site-main end-->


{% endblock %}