{% extends "base.html" %}
{%  load static  %}
{% block content %} 

<!-- page-title -->
<div class="cmt-page-title-row">
    <div class="cmt-page-title-row-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="page-title-heading">
                        <h2 class="title">FAQs</h2>
                    </div>
                    <!-- <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="index.html">Home</a>
                        </span>
                        <span>Faq</span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>                    
</div><!-- page-title end-->


<!--site-main start-->
<div class="site-main">


<section class="cmt-row bg-layer-equal-height clearfix" style="background-color: black;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="layer-content cmt-col-wrapper-bg-layer cmt-bg-layer cmt-col-bgimage-yes cmt-bg pt-100 pb-90" src="{% static 'images/faq.jpg' %}" alt="image">
                <!-- col-img-img-five -->
                <!--  <div class="col-bg-img-five cmt-col-bgimage-yes cmt-bg pt-100 pb-90">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                    <div class="layer-content">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <div class="cmt-play-icon-btn">
                                <div class="cmt-play-icon-animation">
                                    <a href="https://youtu.be/7e90gBu4pas" target="_self" class="ttm_prettyphoto">
                                        <div class="cmt-icon cmt-icon_element-fill cmt-icon_element-color-white cmt-icon_element-size-md cmt-icon_element-style-rounded">
                                            <i class="fa fa-play"></i>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- col-img-bg-img-one end--> 
            </div>
            <div class="col-lg-6">
                <div class="cmt-bg cmt-col-bgcolor-yes cmt-bgcolor-grey spacing-9 z-index-2">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                        <div class="cmt-col-wrapper-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                        <div class="pb-20">
                            <h3>Do You Have Questions?</h3>
                            <p>Below you’ll find answers to some of the most frequently asked question. We are constantly adding most asked question to this page.</p>
                        </div>
                        <div class="accordion res-991-pt-30">
                            <!-- toggle -->
                            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor cmt-control-right-true">
                                <div class="toggle-title"><a href="#">What all do you collect?</a></div>
                                <div class="toggle-content">
                                    <p>We collect almost everything which you might want to sell. Mostly we collect recyclable and reusable stuff. If you're not sure we would buy your stuff, just give us a call.</p>
                                </div>
                            </div><!-- toggle end -->
                            <!-- toggle -->
                            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor cmt-control-right-true">
                                <div class="toggle-title"><a href="#">What's the best way to save on packing and moving services?</a></div>
                                <div class="toggle-content">
                                    <p>As you already know, the movers and packers services are charges as per specific needs of an individual. There are many factors that are considered while estimating the cost of moving or storage, size of move and distance being the two major factors. If you want to cut the moving or storage costs, then look at the inventory and double check if there is any item that you don't really need to move. Apart from that, always check quotations and rates from at least two or three moving companies to get fair idea of the costs involved in moving and storage of your inventory. And third, do negotiate with the moving companies, as they are open to negotiation to some extent like any other service providing company.</p>
                                </div>
                            </div><!-- toggle end -->
                            <!-- toggle -->
                            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor cmt-control-right-true">
                                <div class="toggle-title"><a href="#" class="active">Why there's difference in rates of different moving companies?</a></div>
                                <div class="toggle-content">
                                    <p>Thanks for asking. If you are moving your home or office for the first time, and you are checking rates from leading movers and packers in Ahmedabad and wondering about differences in rates, then you are not alone. As you know, for services, rates primarily depend on the quality of service and experience and efficiency of the service providers. Same is the case with movers and packers. Moving companies usually charges based on their credentials, overall quality of packing materials being used, and their branch network and so on and hence the difference in rates.</p>
                                </div>
                            </div><!-- toggle end -->
                            <!-- toggle -->
                            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor cmt-control-right-true">
                                <div class="toggle-title"><a href="#">What are the benefits of hiring professional packers and movers on house moving?</a></div>
                                <div class="toggle-content">
                                    <p>There are certain benefits of hiring a reliable company of professional packers and movers. If you plan your upcoming house moving with one of reliable and experienced movers and packers then you will have a complete peace of mind. You will be completely removed from all obligations of doing shifting tasks. Professionals will take care of all your needs. Not only will they pack your belongings correctly but also safely transport them to your new home. You will get full assistance from start to end. And hence, you will be able to save a lot of your time and effort. There is no need to sacrifice your precious time for doing shifting tasks. You can spend your saved time in doing other important tasks or spending with your family members and loved ones.</p>
                                </div>
                            </div><!-- toggle end -->
                            <!-- toggle -->
                            <div class="toggle cmt-style-classic cmt-toggle-title-bgcolor-skincolor cmt-control-right-true">
                                <div class="toggle-title"><a href="#">How can I get a fair price for my scrap?</a></div>
                                <div class="toggle-content">
                                    <p>Our integrity is of paramount importance to us. All materials are weighed on our own fully calibrated electronic public weighbridges.</p>
                                </div>
                            </div><!-- toggle end -->
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</div><!--site-main end-->


{% endblock %}