{% extends "base.html" %}
{%  load static  %}
{% block content %} 

<!--site-main start-->
<div class="site-main">


    <!--about_fid-section-->
    
   
    <!--procedure-section-->
    <section class="cmt-row procedure-section clearfix" style="background-color: black; color: white;">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-7 m-auto">
                    <!-- section title -->
                    <div class="section-title title-style-center_text">
                        <div class="title-header">
                            <h3 style="color: white;">How does it work?</h3>
                            <h2 style="color: white;" class="title">Packers And Movers</h2>
                        </div>
                        <div class="heading-seperator"><span></span></div>
                    </div><!-- section title end -->
                </div>
            </div><!-- row end -->
            <div class="row"><!-- row -->
                <div class="col-lg-3">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-procedure">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="{% static 'images/process-img-one-162x162.jpg' %}" alt="image">
                            <div class="process-num"></div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5 style="color: white;">Request Quotes</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Request quotes or appointments at your convenient time.</p>
                            </div>
                        </div>
                    </div><!-- featured-imagebox end-->
                </div>
                <div class="col-lg-3">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-procedure">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="{% static 'images/process-img-two-162x162.jpg' %}" alt="image">
                            <div class="process-num"></div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5 style="color: white;">Request a Meeting</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Discuss everything with the selected company.</p>
                            </div>
                        </div>
                    </div><!-- featured-imagebox end-->
                </div>
                <div class="col-lg-3">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-procedure">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="{% static 'images/services/services-05-620x620.jpg' %}" style="width: 180px; height: 180px;"  alt="image">
                            <div class="process-num"></div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5 style="color: white;">Compare Prices</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Compare the prices of various companies.</p>
                            </div>
                        </div>
                    </div><!-- featured-imagebox end-->
                </div>
                <div class="col-lg-3">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-procedure">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="{% static 'images/process-img-four-162x162.jpg' %}" alt="image">
                            <div class="process-num"></div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5 style="color: white;">Safely Delivered</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Get your items safely delivered at your place.</p>
                            </div>
                        </div>
                    </div><!-- featured-imagebox end-->
                </div>
            </div>
        </div>
    </section>
    <!--procedure-section end-->

    <!--procedure-section-->
    <section class="cmt-row procedure-section clearfix" style="background-color: black; color: white;">
        <div class="container" >
            <!-- row -->
            <div class="row">
                <div class="col-lg-7 m-auto" >
                    <!-- section title -->
                    <div class="section-title title-style-center_text">
                        <div class="title-header">
                            <h3 style="color: white;">How does it work?</h3>
                            <!-- <h2 class="title">We give you complete control your shipments.</h2> -->
                            <h2 class="title" style="color: white;">Scrap Collectors</h2>
                        </div>
                        <div class="heading-seperator"><span></span></div>
                    </div><!-- section title end -->
                </div>
            </div><!-- row end -->
            <div class="row"><!-- row -->
                <div class="col-lg-4">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-procedure">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="{% static 'images/request.png' %}" alt="image" style="width: 170px;height: 170px;">
                            <div class="process-num"></div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5 style="color: white;">You Request</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Drop in your name and contact in the form above</p>
                            </div>
                        </div>
                    </div><!-- featured-imagebox end-->
                </div>
                <div class="col-lg-4">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-procedure">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="{% static 'images/carry-cart.png' %}" style="height: 170px; width: 170px;" alt="image">
                            <div class="process-num"></div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5 style="color: white;">We Come</h5>
                            </div>
                            <div class="featured-desc">
                                <p>One of us comes and collect stuff you want to sell</p>
                            </div>
                        </div>
                    </div><!-- featured-imagebox end-->
                </div>
                <!-- <div class="col-lg-3">
                     featured-imagebox 
                    <div class="featured-imagebox featured-imagebox-procedure">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="images/process-img-three-162x162.jpg" alt="image">
                            <div class="process-num"></div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Compare Prices</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Aute irure dolor reprehenderit velit esse cillum dolore fugiat</p>
                            </div>
                        </div>
                    </div> featured-imagebox end
                </div> --> 
                <div class="col-lg-4">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-procedure">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="{% static 'images/cash.png' %}" style="height: 170px; width: 170px;" alt="image">
                            <div class="process-num"></div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5 style="color: white;">Cash</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Get paid in hard cash</p>
                            </div>
                        </div>
                    </div><!-- featured-imagebox end-->
                </div>
            </div>
        </div>
    </section>
    <!--procedure-section end-->
<!--procedure-section-->
    <section class="cmt-row procedure-section clearfix" style="background-color: black; color: white;">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-7 m-auto">
                    <!-- section title -->
                    <div class="section-title title-style-center_text">
                        <div class="title-header">
                            <h3 style="color: white;">How does it work?</h3>
                            <h2 class="title" style="color: white;" >Both Packers And Movers / Scrap Collectors</h2>
                        </div>
                        <div class="heading-seperator"><span></span></div>
                    </div><!-- section title end -->
                </div>
            </div><!-- row end -->
            <div class="row"><!-- row -->
                <div class="col-lg-1">
                </div>
                <div class="col-lg-2">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-procedure">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="{% static 'images/process-img-one-162x162.jpg' %}" alt="image">
                            <div class="process-num"></div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5 style="color: white;">Request Quotes</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Request quotes or appointments at your convenient time.</p>
                            </div>
                        </div>
                    </div><!-- featured-imagebox end-->
                </div>
                <div class="col-lg-2">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-procedure">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="{% static 'images/process-img-two-162x162.jpg' %}" alt="image">
                            <div class="process-num"></div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5 style="color: white;">Request a Meeting</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Discuss everything with the selected company.</p>
                            </div>
                        </div>
                    </div><!-- featured-imagebox end-->
                </div>
                <div class="col-lg-2">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-procedure">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="{% static 'images/services/services-05-620x620.jpg' %}" alt="image">
                            <div class="process-num"></div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5 style="color: white;">Compare Prices</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Compare the prices of various companies.</p>
                            </div>
                        </div>
                    </div><!-- featured-imagebox end-->
                </div>
                <div class="col-lg-2">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-procedure">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="{% static 'images/services/services-05.jpg' %}" alt="image">
                            <div class="process-num"></div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5 style="color: white;">Little Discount</h5>
                            </div>
                            <div class="featured-desc">
                                <p>The amount of sold scrap will be directly deducted from the packing and moving charges.</p>
                            </div>
                        </div>
                    </div><!-- featured-imagebox end-->
                </div>
                <div class="col-lg-2">
                    <!-- featured-imagebox -->
                    <div class="featured-imagebox featured-imagebox-procedure">
                        <div class="featured-thumbnail">
                            <img class="img-fluid" src="{% static 'images/process-img-four-162x162.jpg' %}" alt="image">
                            <div class="process-num"></div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5 style="color: white;">Safely Delivered</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Get your items safely delivered at your place.</p>
                            </div>
                        </div>
                    </div><!-- featured-imagebox end-->
                </div>
            </div>
        </div>
    </section>
    <!--procedure-section end-->

</div><!--site-main end-->


{% endblock %}