
{% extends "base.html" %}
{%  load static  %}
{% block content %} 

<style type="text/css">
    .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e7eaed;
    border-radius: 0;
}
.card .card-description {
    margin-bottom: .875rem;
    font-weight: 400;
    color: #76838f;
}






.profile-header {
    height: 150px;
    width: 100%;
    position: relative;
}

.cover-image {
    height: 150px;
    width: 100%;
    overflow: hidden;
}



.user-image {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    bottom: -50%;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%, -50%);
    z-index: 5;
}

.user-image img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: -40px;
    border: 5px solid #777;
}

.profile-card .profile-content {
    padding: 50px 20px 30px 20px;
}



.profile-card .profile-name {
    font-size: 1.2rem;
    color: #3249b9;
    font-weight: 600;
    text-align: center;
}

.profile-card .profile-designation {
    font-size: 13px;
    color: #777;
    text-align: center;
}

.profile-card .profile-description {
    padding: 10px;
    font-size: 13px;
    color: #777;
    margin: 5px 0px;
    background-color: #F1F2F3;
    border-radius: 5px;
}

.profile-card ul.profile-info-list {
    padding: 0;
    margin: 10px 0;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    color: #777;
}




.profile-card ul.profile-info-list a {
    text-decoration: none;
    color:inherit;
}



.profile-card a.profile-info-list-item {
    margin: 10px 0;
    padding:15px;
    background-color: #F1F2F3;
    display: block;
     -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}

.profile-card a.profile-info-list-item:hover {
    background-color: #9E9E9E;
    color: white;
     -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    
}


.profile-card a.profile-info-list-item  i {
    padding: 10px;
    
}

ul.about {
    list-style: none;
    color: black;
    padding: 0;
}
li.about-items {
    margin: 10px;
    font-size: 0.9rem;
    /* font-family: sans-serif; */
    /* font-weight: 400; */
}



li.about-items i {
color:#607d8b;
}

span.about-item-name {
    width: 100px;
    display: inline-flex;
        margin-left: 10px;
}


span.about-item-detail {
    display: inline-flex;
    width: calc(100% - 160px);
}
span.about-item-detail > button{
  margin-right: 10px;
}

.btn.btn-icon {
    width: 40px;
    height: 40px;
    padding: 0;
}
.btn.btn-rounded {
    border-radius: 50px;
}

a.about-item-edit {
    float: right;
}
</style>

<script>
    function validation(){
        
        var pass = document.getElementById("password").value;
        var cpass = document.getElementById("cpassword").value;
        
        var errorflag=false;
        var focusOn = '';

        if(pass == ""){                            
            document.getElementById("cpass").style.display ='';
            document.getElementById("cpass2").style.display ='none';
            if(!focusOn){
                focusOn=document.myform.pass;
            }       
            errorflag = true;
        }else{
            document.getElementById("cpass").style.display ='none';        
            document.getElementById("cpass2").style.display ='none';
            if (/^(?=.[a-zA-Z])(?=.[0-9])(?=.[!@#$%^&+-])(.{8,20})$/.test(pass)){
                document.getElementById("cpass").style.display ='none';
                document.getElementById("cpass2").style.display ='none';
            }
            else{
                document.getElementById("cpass").style.display ='none';
                document.getElementById("cpass2").style.display ='';
                if(!focusOn){
                    focusOn=document.myform.pass;
                }
                errorflag = true;
            }
        }
        if(cpass == ""){                            
            document.getElementById("ccpass").style.display ='';
            if(!focusOn){
                focusOn=document.myform.cpass;
            }       
            errorflag = true;
        }else{
            document.getElementById("ccpass").style.display ='none';      
            if(pass!=cpass){
                document.getElementById("ccpass2").style.display='';
                errorflag = true;
            }
            else{
                document.getElementById("ccpass2").style.display='none';
                if(document.getElementById("ccpass").style.display =='none' && document.getElementById("ccpass2").style.display =='none'){
                    pass;
                }
                else{
                    document.getElementById("ccpass3").style.display='';
                }
            }
        }
        if(focusOn){
            focusOn.focus();
        }
        if(errorflag == true)
            return false;                       
        else
            return true;
    }
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.css">
    <!--site-main start-->
    <div class="site-main">
        <section class="cmt-row clearfix" style="background-color: black;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-panel">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="profile-card">
                                                <!-- {% csrf_token %}
                                                {{ forms.as_p }} -->
                                                <div class="profile-header">

                                                    <div class="cover-image">
                                                        <!-- <img src="https://cdn.pixabay.com/photo/2019/10/19/14/16/away-4561518_960_720.jpg" class="img img-fluid"> -->
                                                    </div>
                                                    <div class="user-image" style="padding-top: 420px;">
                                                        <!-- <img src="{% static 'images/arjunprofile.jpeg' %}" class="img " style="width: 180px; height: 180px; margin-left: -50px; "> -->
                                                        <img src="{% static 'images/testimonial/naina.jpg' %}" class="img " style="width: 180px; height: 180px; margin-left: -50px; ">
                                                    </div>
                                                </div>

                                                <div class="profile-content">
                                                    <!-- <div class="profile-name"><h3>Arjun Pillai</h3></div> -->
                                                    <div class="profile-name"><h3>Naina Agrawal</h3></div>
                                                    <!-- <div class="profile-designation">Webdeveloper</div> -->
                                                    <ul class="profile-info-list">
                                                        <a href="{% url 'myaccount' %}" class="profile-info-list-item"><i class="mdi mdi-eye"></i>Edit Profile</a>
                                                        <a href="{% url 'mypost' %}" class="profile-info-list-item"><i class="mdi mdi-eye"></i>My Posts</a>
                                                        <a href="{% url 'mybookings' %}" class="profile-info-list-item"><i class="mdi mdi-eye"></i>My Bookings</a>
                                                        <a href="{% url 'resetpassword' %}" class="profile-info-list-item"><i class="mdi mdi-eye"></i>Change Password</a>
                                                        <a href="{% url 'logout' %}" class="profile-info-list-item"><i class="mdi mdi-eye"></i>Logout</a>
                                                    </ul>
                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-8 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <form method="POST" name="myform" id="myform" action=""  class="contact__form cmt-contactform-1 wrap-form clearfix" enctype="multipart/form-data" style="background-color: lavender;">
                                                    {% csrf_token %}
                                                    <p class="card-title font-weight-bold">My Account</p>
                                                <hr>
                                                <p class="card-description">Reset Password</p>
                                                <ul class="about">
                                                    <label>
                                                        
                                                        <span class="p-3 mb-2" style="color: red;display: none;" id="cpass">
                                                            Enter Your Old Password
                                                        </span>
                                                       
                                                    </label>
                                                    <li class="about-items"><i class="mdi mdi-account icon-sm "></i>
                                                        <span>Old Password:</span><br>
                                                        <span class="about-item-detail">
                                                        {{ form.old_password }} 
                                                        </span>
                                                        </li>
                                                    
                                                        <label>
                                                           
                                                        </label>
                                                        <li class="about-items"><i class="mdi mdi-account icon-sm "></i>
                                                        <span>New Password:</span><br>
                                                       
                                                        <span class="about-item-detail">
                                                            {{ form.new_password1 }}
                                                          
                                                        </span> 
                                                    </li>
                                                        
                                                        
                                                        
                                                            <label>
                                                                <span class="p-3 mb-2" style="color: red;display: none;" id="ccpass">Confirm Your Password</span>
                                                                <span class="p-3 mb-2" style="color: red;display: none;" id="ccpass2">Password and Confirm Password don't match</span>
                                                                <span class="p-3 mb-2" style="color: red;display: none;" id="ccpass3"><br><br><br><br><br></span>
                                                                
                                                            </label>
                                                            <li class="about-items"><i class="mdi mdi-account icon-sm "></i>
                                                            <span>Confirm Password:</span><br>
                                                           
                                                            
                                                            <span class="about-item-detail">
                                                                {{ form.new_password2 }}
                                                            </span></li>
                                                    
                                    
                                    
                                                </ul>
                                                
                                        
                                                <button name="submit" class="btn btn-dark col-lg-3" type="submit" onclick="return validation()">Change</button>
                                                <button name="submit" class="btn btn-dark col-lg-3" type="reset">Clear</button>
                                                
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--google_map-->
        

    </div><!--site-main end-->


{% endblock %}